.users {
    /* height: 100vh; */
    overflow: hidden;
    padding-bottom: 4rem;
}

.users .inner-container {
    padding: 20px 0;
}

.table {
    width: 100%;
    padding: 15px 0;
    background-color: rgba(3, 216, 3, 0.1);
} 

thead tr {
    text-transform: uppercase;
}

.tbody .row {
    max-height: 50px;
    text-align: center;
    height: 100%;
}

.user_img {
    border-radius: 50%;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

.email {
    font-style: italic;
    font-weight: 500;
}

@media (max-width: 600px) {
    .users .inner-container {
        overflow-x: scroll;
        max-width: 100vw;
    }
}